<form #myForm="ngForm" (ngSubmit)="onSubmit()">
  <fieldset>
    <label for="firstname">Prénom</label>
    <input
      id="firstname"
      name="firstname"
      type="text"
      [(ngModel)]="model.firstname"
      #firstname="ngModel"
      required
      minlength="5"
      maxlength="15"
    />
  </fieldset>

  <fieldset>
    <label for="lastname">Nom</label>
    <input
      id="lastname"
      name="lastname"
      type="text"
      [(ngModel)]="model.lastname"
      #lastname="ngModel"
      minlength="5"
      maxlength="15"
      required
    />
  </fieldset>

  <fieldset>
    <label for="email">Email</label>
    <input
      id="email"
      name="email"
      type="email"
      [(ngModel)]="model.email"
      #email="ngModel"
      email
      required
    />
  </fieldset>

  <fieldset>
    <label for="password">Password</label>
    <input
      id="password"
      name="password"
      type="password"
      [(ngModel)]="model.password"
      #password="ngModel"
      required
    />
  </fieldset>

  <div *ngIf="myForm.submitted">
    <div *ngIf="firstname.errors">
      <span *ngIf="firstname.errors?.['required']">Le prénom est requis</span>
      <span *ngIf="firstname.errors?.['minlength']"
        >La longueur minimale du prénom doit être supérieure à 5</span
      >
      <span *ngIf="firstname.errors?.['maxlength']"
        >La longueur minimale du prénom doit être inférieure à 15</span
      >
    </div>

    <div *ngIf="lastname.errors">
      <span *ngIf="lastname.errors?.['required']">Le nom est requis</span>
      <span *ngIf="lastname.errors?.['minlength']"
        >La longueur minimale du nom doit être supérieure à 5</span
      >
      <span *ngIf="lastname.errors?.['maxlength']"
        >La longueur minimaledu nom doit être inférieure à 15</span
      >
    </div>

    <div *ngIf="email.errors">
      <span *ngIf="email.errors?.['required']">L'email est requis</span>
      <span *ngIf="email.errors?.['email']">L'email est invalide</span>
    </div>
  </div>

  <button class="btn btn-secondary" type="reset">Restaurer</button>
  <button class="btn btn-primary" type="submit">Sauvegarder</button>
</form>
