<ul>
  <li>Pommes de terre</li>
  <li [ngStyle]="{ backgroundColor: isThisIngredientVital ? 'red' : 'yellow' }">
    Raclette
  </li>
  <li>Jambon</li>
  <li [ngClass]="{ vital: isThisIngredientVital }">Cornichons</li>
  <li>Chou-fleur</li>
</ul>

<ul *appDisplayGuests="isGuestListDisplayed">
  <li>Brenda</li>
  <li>Dylan</li>
  <li>Michel Drucker</li>
  <li>Marc Aurèle</li>
  <li>Julie</li>
</ul>

<h1 appHighlight>Raclette</h1>

<ul>
  <li *ngFor="let song of songList">
    {{ song }}
  </li>
</ul>
