<h1>Movies</h1>

<div *appMoviesVisible="showMovies">
  <div appFirstMovie>
    <img
      src="https://www.listchallenges.com/f/items/c8c693e5-c06c-456c-ab66-40cf4ee7ba47.jpg"
      alt="The Godfather"
    />
    <p>The Godfather</p>
    <p>1989</p>
  </div>
  <div>
    <img
      src="https://www.listchallenges.com/f/items2020/783c1e5d-4598-49d1-8f13-7d0de96dc398.jpg"
      alt="The Shawshank Redemption"
    />
    <p>The Shawshank Redemption</p>
    <p>1994</p>
  </div>
  <div>
    <img
      src="https://www.listchallenges.com/f/items2020/d8c146be-ef32-49b5-86bc-d1ab2ceb6fb6.jpg"
      alt="The Godfather"
    />
    <p>Gone With the Wind</p>
    <p>1939</p>
  </div>
</div>
